.home{
    width: 90%;
    margin: auto;
    display: block;
    text-align: center;
    .app_content{
        width: 100%;
        min-height: 100vh;
       
        &:last-child ul{
            li{
                border-color:rgb(70, 255, 110);
            }
        }
        h2{
            font-family: $fontPrincipal;
            font-size: 3rem;
        }
        
    }
  
}
@include breakpoint("medium"){
   .home{
    display: flex;
    text-align: left;
    .app_content{
        width: 50%;
       
      }
   }
 }
